@use 'variables' as v;

// Estilo base para el botón principal de la aplicación
.btn-primary {
    background-color: v.$primary !important;
    border-color: v.$primary !important;
    color: white !important;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.75rem 1.5rem;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover:not(:disabled) {
        background-color: v.$inkapt-orange-hover !important;
        border-color: v.$inkapt-orange-hover !important;
    }

    &:disabled {
        opacity: 0.7;
    }
}

// Botón secundario (outline)
.btn-outline-success {
    border-color: v.$success;
    color: v.$success;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background-color: v.$success;
        color: white;
    }
}
