@use 'variables' as v;

// Clase de utilidad para el color de texto principal
.text-inkapt-dark {
    color: v.$dark !important;
}

// Estilo para los encabezados principales de las páginas
.page-header {
    text-align: center;
    margin-bottom: 3rem;

    .page-title {
        font-size: 2.8rem;
        font-weight: 900; // Bolder
        color: v.$dark;
    }

    .page-subtitle {
        font-size: 1.2rem;
        color: #6c757d; // text-muted de Bootstrap
    }
}
